.profile{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin: 0 auto;
}

.profile__description{
    display: grid;
    grid-template-areas:
        "title button"
        "subtitle subtitle";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    align-items: center;
}

.profile__edit-button{
    background: transparent url(../images/Edit_Button.png) center no-repeat;
    border: 1px solid #ffffff;
    height: 24px;
    width: 24px;
    grid-area: button;
    transition: 0.3s ease-in;
}

.profile__add-button{
    background: transparent url(../images/Add_button_test.png) center no-repeat;
    width: 150px;
    height: 50px;
    margin-left: auto;
    transition: 0.3s ease-in;
    border: 1px solid #ffffff;
}

.profile__title{
    font-family: "Inter";
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2;
    grid-area: title;
    margin: 0;
    letter-spacing: 0em;
    text-align: left;

}

.profile__subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    grid-area: subtitle;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    letter-spacing: 0em;
    text-align: left;

}

.profile__picture{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-right: 24px;

}

.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:480px){
    .profile{
        flex-direction: column;
    }

    .profile__description{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .profile__subtitle{
        width: 100%;
        text-align: center;
        font-family: 'Inter', Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0em;
    }

    .profile__add-button{
        margin: 0;
        width: 100%;
    }

    .profile__title{
        font-family: 'Inter', Arial, sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0em;
        text-align: center;
    }

    .profile__edit-button{
        height: 18px;
        width: 18px;
    }
}